@import url('https://fonts.googleapis.com/css?family=Orbitron');
.main {
  position: absolute;
  background:#333;
  width: 150px;
  height: 440px;
  border-radius: 10px;
  border:3px solid #222;
}
.block{
  background:#666;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border:3px solid #222;
  margin-left: 12px;
  margin-top: 16px;
}
.red {}
.redblock {
  background-color:red;
}
.redtext {
  color: red;
}
.yellow {
 font-family: 'Orbitron', sans-serif;
  font-size: 65px;
  line-height: 120px;
  text-align: center;
}
.yellowblock {
  background-color:yellow;
}
.green {}
.greenblock {
  background-color:#00e000;
}
.greentext {
  color: #00e000;
}
.animated {
  transition-property: background-color;
  transition-duration: 0.5s;
}    
.text_p { color:blue }
    .text_p:hover {
        position: fixed;
        left: 50%;
        background-color: burlywood;
        color:rgb(255, 0, 0)
        }
     .div_1{
        background-color: aquamarine;
        width: 20vw;
        height: 20vh;
        animation-name: div;
        animation-duration: 5s;
        animation-iteration-count: infinite;
     }   
     @keyframes div{
        0%{
            width: 200px;
        }
        50%{
            width: 400px;
        }
        100%{
            width: 200px;
            
        }
     }

